In [1]:
import sqlite3
import pandas as pd # Using pandas to clean up appearances of query results
connection = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = connection.cursor().execute
def sql(query): # defined function because I'm lazy and didn't want keep typing methods
    return cur(query).fetchall()

In [2]:
sql('Select * from Facilities')

[(0, 'Tennis Court 1', 5, 25, 10000, 200),
 (1, 'Tennis Court 2', 5, 25, 8000, 200),
 (2, 'Badminton Court', 0, 15.5, 4000, 50),
 (3, 'Table Tennis', 0, 5, 320, 10),
 (4, 'Massage Room 1', 9.9, 80, 4000, 3000),
 (5, 'Massage Room 2', 9.9, 80, 4000, 3000),
 (6, 'Squash Court', 3.5, 17.5, 5000, 80),
 (7, 'Snooker Table', 0, 5, 450, 15),
 (8, 'Pool Table', 0, 5, 400, 15)]

"""Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!""

In [ ]:
db = pd.DataFrame(sql("""SELECT f.name,
	SUM(CASE 
		WHEN b.memid <>0 
			THEN f.membercost*b.slots
			ELSE f.guestcost*b.slots
		END) AS revenue
FROM Bookings as b
INNER JOIN Facilities as f
ON b.facid = f.facid
GROUP BY f.name
HAVING revenue > 1000
ORDER BY revenue DESC
;
        """))
db
db.rename(columns={0:'Facility', 1:'Total Revenue'})